.SB {
    @apply relative  ;
  }
  
  .SearchButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .SearchBarPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    padding-top: 1rem; /* Adjust as needed */
    color: black;
    z-index: 1000; /* Ensure the search bar is above other content */
    overflow-y: auto; 
    /* Enable vertical scrolling if needed */
  }
  .SearchBarPage:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    z-index: -1; /* Behind the search bar */
  }

 
  

  
  
  
  
  .SearchBarNoResultFound {
    margin-bottom: 5px; /* Adjust margin-bottom as needed */
    text-align: center;
    background-color: white;
  }
  
 
  
  
  
  
  
  
  
  
  
  